.mainContainer {
  scroll-behavior: smooth;
}
.container {
  background: linear-gradient(rgba(3, 77, 110, 0.9), rgba(3, 77, 110, 0.7)),
    url(../../assets/img/candlestick.png), no-repeat center center;
  background-attachment: fixed;
  text-align: center;
  color: var(--white);
  height: calc(100vh - 0px);
  justify-content: center;
  display: flex;
  align-items: center;
}

.display-1 {
  font-size: calc(2rem + 5.7vw);
  font-weight: 300;
  line-height: 1.2;
  margin: 0 !important;
  font-weight: 700 !important;
}
.h1 {
  font-size: 2.5rem;
  margin: 0 !important;
  font-weight: 700 !important;
}

.course-container {
  background: var(--offWhite);
  background-attachment: fixed;
  text-align: center;
  color: var(--dark);
  height: calc(100vh - 90px);
  padding-top: 2rem;
}
.carousel-container-div {
  padding: 0px 30px 0 30px;
}

.footer-container {
  height: calc(100vh - 110px);
  background: var(--dark);
  padding: 2rem;
}
