@import "../../App.css";

.container-fluid {
  background-color: var(--bg-pink);
}

.first {
  margin: 0;
  padding: 0;
  font-family: "shadow-light" !important;
  font-size: 4vw;
  background: linear-gradient(180deg, rgb(230, 143, 22), rgb(206, 111, 29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  color: transparent;
}
.remaining {
  font-size: 3vw;
  font-weight: 900;
  color: var(--white);
  margin-top: -2rem;
}
.approach {
  padding: 0rem 5rem 0px 5rem;
  img {
    border-top-left-radius: 16vw;
    border-top-right-radius: 16vw;
  }
}
.dividerOrange {
  width: 95%;
  align-self: center;
  margin-top: -1rem;
}

.team-list {
  margin: 0px 8rem;
  li {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);
    text-align: justify;
    color: var(--white);
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}
.team-img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 5px solid var(--warning);
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .approach {
    padding: 0.5rem 1rem 0px 1rem;
  }
  .team-list {
    margin: 0px;
    li {
      h2 {
        font-size: 14px;
      }
      h4 {
        font-size: 12px;
      }
    }
  }

  .team-img {
    height: 40px;
    width: 40px;
  }
  .remaining {
    margin-top: -0.5rem;
  }
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
  .approach {
    padding: 1rem 2rem 0px 2rem;
  }
  .team-list {
    margin: 0px 4rem;
    li {
      h2 {
        font-size: 18px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }
  .remaining {
    margin-top: -2rem;
  }

  .team-img {
    height: 50px;
    width: 50px;
  }
}
