.why-div {
  background-color: var(--offWhite);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.why-container {
  padding-right: 15px;
  padding-left: 15px;
}

.why-row {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.secondary {
  background-color: var(--secondary);
}

.btn-icon {
  width: 77px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
}

.obj-fit {
  object-fit: cover;
}

.why-img {
  vertical-align: middle;
  border-style: none;
  width: auto;
  height: auto;
}

.why-desc {
  margin-top: 0%;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--dark);
}
.why-title {
  margin-top: 0%;
  margin-bottom: 1rem;
  color: var(--primary);
}
.why-list {
  flex: 1;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.why-devider {
  width: 89%;
  align-self: center;
}

.why-div h1 {
  margin: 0;
  padding: 0;
  font-family: "shadow-light" !important;
  font-size: 80px;
  background: linear-gradient(180deg, rgb(230, 143, 22), rgb(206, 111, 29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  color: transparent;
}

.why-div h2 {
  margin: 0;
  margin-top: -40px;
  padding: 0;
  font-size: 40px;
  font-weight: 900;
  font-family: "leela-bold" !important;
  color: var(--primary);
  text-align: center;
}
@media (max-width: 768px) {
  .btn-icon {
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
  .why-desc {
    font-size: 10px;
    font-weight: 400;
  }
  .why-title {
    font-size: 10px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .obj-fit {
    height: 25rem;
  }
  .why-div {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      margin-top: -20px;
    }
  }
}
@media (max-width: 375px) {
  .btn-icon {
    height: 35px;
    width: 35px;
    border-radius: 6px;
  }
  .why-row {
    padding-left: 5px;
    padding-right: 5px;
  }
}
