

.about-us-container {
  margin-top: 80px;
  background-color: var(--white);
  padding: 20px;
}
.banner-container{
  height: 200px;
  width: 100%;
}

.about-us-banner {
  background: url('../../assets/img/ITT.gif') no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
}
.about-us-content{
  margin-top: 20px;
  color: var(--dark);
}

.about-title{
  margin-bottom: 0%;
}
.devider{
  height: 5px;
  background-color: var(--orange);
}
.about-img{
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}
.center-align{
  display: flex;
  gap: 20px;
}