@import "../../App.css";

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--white);
}

.headerTitle {
  color: var(--primary);
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li a {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
}

.nav-links li a:hover {
  color: var(--primary);
}

.nav-links li a:active {
  color: var(--primary);
}

.auth-links {
  margin-left: auto; /* Push the auth links to the right */
  display: flex;
}

.auth-links a {
  /* margin-left: 1rem; */
  /* padding: 0.5rem 1rem; */
  /* background-color: #007bff; */
  /* border-radius: 4px; */
  /* transition: background-color 0.3s ease; */
  /* color: white; */
  /* text-decoration: none; */
  margin-right: 1rem;

}

.auth-links a:hover {
  background-color: #0056b3;
}
