body {
  background-color: var(--bg-light) !important;
}

.detail-continer {
  height: 100vh;
  background-color: var(--bg-light) !important;
}
.detail-box {
  background: url(../../assets/img/course-detail-banner.png),
    no-repeat center center;
  height: 40%;
  color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15px;
  background-position: center;
}
.desc-div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  margin-left: 10%;
}
.title {
  font-size: 3.2rem;
  font-weight: 900;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
}
.description {
  font-size: 1rem;
  font-weight: 400;
}
.card-deatil {
  width: 30%;
  border: 2px solid var(--gray);
  border-radius: 20px;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 1); */
  overflow: hidden;
  position: absolute;
  margin-top: 5%;
  right: 5%;
  color: var(--dark) !important;
  margin-bottom: 30px;
  padding: 15px;
}

.img-detail {
  height: 208px;
  width: 100%;
}
.sub-section {
  padding: 0px 20px 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rupee {
  font-size: 1.5rem;
  font-weight: 900;
}
.btn-enroll-now {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--orange);
  align-self: center;
  font-size: 14px;
  font-weight: 900;
  color: var(--white);
  border: none;
}
.syllabus-div {
  width: 55%;
  padding: 20px;
  margin: 30px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.syllabus-div h3 {
  margin: 0px !important;
}
.ul-learn {
  /* display: flex; */
  /* flex-flow: row wrap; */
  justify-content: space-between;
  li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    img {
      height: 30px;
    }
  }
}
.li-learn {
  /* width: 45%; */
  align-self: flex-start;
}

.card-details-wrapper {
  border-radius: 8px;
  padding: 20px;
  background-color: var(--white);
}
.card-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--gray-light);
  padding: 10px 0;
  align-items: center;
}
.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.item-name {
  display: flex;
  color: var(--gray-dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item-value {
  display: flex;
  margin-left: auto;
  color: var(--dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.text-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-word {
  margin: 0;
  padding: 0;
  font-family: "shadow-light" !important;
  font-size: 6vw;
  background: linear-gradient(180deg, rgb(230, 143, 22), rgb(206, 111, 29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  color: transparent;
}
.remaining-text {
  font-size: 5vw;
  font-weight: 900;
  margin-top: -8%;
}

.syllabus-title {
  display: flex;
  color: var(--primary);
}
