.div-container {
  margin-top: 90px;
  padding: 20px;
}
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input{
  width: 50%;
  border: 1px solid var(--gray-light);
  border-radius:20px 20px 20px 20px;
  font-size: 14px;
  background-color: var(--white);
  background-image: url('../../assets/img/search.png');
  background-size: 20px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 10px 35px;
}
.search-container input:focus{
  border: 1px solid var(--gray); 
  outline: none;
}

.courses{
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  overflow-y: auto;
}
.grid-container{
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 20px 20px;
  display: grid;
  grid-auto-rows: min-content;
}
