@import "font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: "sora";
  src: local("sora"),
    url(./assets/fonts/VarelaRound-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6b6a75;
  text-align: left;
  background-color: #eef5ff;
  font-family: sora;
}
